In [ ]:
file = open("C:\Users\ashwini\Downloads\File handling\demo1.txt")
#Absolute path(copy path) - entire path
#Relative path(copy relative path) - particular file name only

In [ ]:
#Files are named locations on the disk to store relevant information
#Operations - Open(),read(),write(),append()

#1.Open the file location
#2.read /write operation
#3.close the file

#The file can be a text file , binary file , csv file

In [ ]:
#working of Open()function
# syntax - file = open(filepath , mode)
# list of modes

#1. r - read the file
#2. w - write the content in the file
#3. a - append the content
#4. r+ - To READ and write the content. The previous data in the file was not deleted
#5. w+ - TO WRITE AND READ. It will override the existing data
#6. a+ - To append and read . It wont override

In [ ]:
file = open("demo1.txt","r")
print(file)
file.name
file.mode
#Close the file 
file.close()

<_io.TextIOWrapper name='demo1.txt' mode='r' encoding='utf-8'>

In [ ]:
#Reading from a file
#1.read, 2.readline,3.readlines
#1.read - it reads the entire file
#2.readline - reads a one line
# 3.readlines - It will read line by line

In [12]:
#read()
file = open("demo1.txt","r")
data1 = file.readlines()
print(data1)

['Hi , Hello \n', 'How are You\n', 'Hope you are doing good\n']

In [34]:
#write method
# 1. write, 2.writelines
#write - only on eline
#writelines - write a multiple lines
file = open("demo1.txt","w")
content = "This is India\n","Im hin india only\n","Its good\n"
file.writelines(content)
print(file)
file = open("demo1.txt","r")
print(file.read())

<_io.TextIOWrapper name='demo1.txt' mode='w' encoding='utf-8'>
This is India
Im hin india only
Its good

In [40]:
#append 
file = open("demo1.txt","a")
file.write("\n")
file.write("Good afternoon\n")
file.write("THank you\n")
file = open("demo1.txt","r")
print(file.read())

This is India
Im hin india only
Its good
Hi , helloHi , helloGood afternoonTHank youHi , hello
Good afternoon
THank you

Good afternoon
THank you

Good afternoon
THank you

Good afternoon
THank you

In [44]:
#r+
file = open("demo1.txt","r+")
content = file.read()
print(content)
file.write("Python is great")
file = open("demo1.txt","r")
content = file.read()
print(content)

This is India
Im hin india only
Its good
Hi , helloHi , helloGood afternoonTHank youHi , hello
Good afternoon
THank you

Good afternoon
THank you

Good afternoon
THank you

Good afternoon
THank you
Python is great
This is India
Im hin india only
Its good
Hi , helloHi , helloGood afternoonTHank youHi , hello
Good afternoon
THank you

Good afternoon
THank you

Good afternoon
THank you

Good afternoon
THank you
Python is greatPython is great

In [ ]:
file = open("demo1.txt","w+")
file.write("You guys are very smart especially alby")
print(file.read()) #it overrides the existing content

In [51]:
#a+
file = open("demo1.txt","a+")
file.write("BYE BYE BYE")
print(file.read())

In [ ]:
# Structured - Tablular data 
#unstructured
#Pandas - it is a package. Its used to perform data manipulation
import pandas as pd
file = pd.read_csv("Book1.csv")
file

    SI.NO      Name   Salary
0       1     Richu       10
1       2   Abishek     5000
2       3     Aadil        2
3       4  Adhulyaa        1
4       5  Sripriya        0
5       6   Jameela     3000
6       7      Fady  100,000
7       8  Deepasri       -1
8       9    Afsana        0
9      10    riswan     2000
10     11     Jimmy      800
11     12      aman   100000
12     13     avani     1000
13     14     tebin     1000
14     15    sandra  1000000
15     16     minha   100000
16     17   joshika    10000
17     18   kishore      200
18     19    anusha    50000

In [7]:
#Read a file and return longest sequence
#with - no need to use close function
import re
def ls(filepath):
    with open(filepath,"r")as file:
        text=file.read()
        sentence = re.split(r'(?<=[.!?])',text)
        sentences = [i.strip() for i in sentence if i.strip()]
        max_sentence = max(sentences,key=len)
        return max_sentence
print(ls("demo1.txt"))

especially some students giving some effort!